.SimilarJobItem-cont {
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.descrp-cont {
  display: flex;
  flex-direction: column;
  width: 90%;
}

@media (max-width: 767px) {
  .SimilarJobItem-cont {
    width: 90%;
  }
}
